@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h3 {
    @apply font-bold text-4xl font-futura leading-8 xl:text-5xl sm:text-4xl;
  }
  h2 {
    @apply font-bold text-2xl font-futura leading-8 xl:text-4xl sm:text-2xl;
  }
  p {
    @apply font-univers55 text-base leading-7 font-thin;
  }
  img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .drag {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  /* XBOX */
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 1s ease-out;
  }

  .item:nth-of-type(odd) {
    background-color: #333;
  }

  .item:nth-of-type(even) {
    background-color: #111;
  }

  .item.show {
    opacity: 1;
  }
  .animated {
    opacity: 1;
    transition: opacity 0.8s;
    transition-delay: 10ms;
    /* transform: translateY(-20px);
    transition-delay: 10ms;
    transition-duration: 100ms; */
  }
  @keyframes fade-in {
    to {
      background-color: chocolate;
    }
  }
  @keyframes scrolly {
    to {
      transform: translateY(-20px);
      opacity: 50%;
    }
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@media (min-width: 640px) {
  .xbox {
    background-image: url("../../public/green-bg-pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .goldloop {
    background-image: url("../../public/goldenloop-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .outsiders {
    background-image: url("../../public/outsiders_bg_pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 640.95px) {
  .carousel.carousel-slider {
    height: 80vh;
  }
  .xbox {
    background-image: url("../../public/green-bg-mobile.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .goldloop {
    background-image: url("../../public/goldenloop-bg-mobile.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .outsiders {
    background-image: url("../../public/outsiders_bg_mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.edition {
  background-image: url("../../public/edition_bg.jpg");
  background-size: 140% 140%;
  background-position: 60% 60%;
  background-repeat: no-repeat;
}
.media {
  background-image: url("../../public/media_bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
